.postbuttons{
    width: 95%;
   display: flex;
    justify-content: center;
    flex-direction: column;
margin-left: auto;
margin-right: auto;

}
.postbutton, .deletebutton{
    width: 100%;
margin-top: 10px;
}
.deletebutton{
    background-color: red;
    border-width: 3px;
}

.admin{
    display: flex;
    flex-direction: column;

}

.addbtn, .deleteInfoBtn{
    margin-top: 15px;

    height: 70px;
    font-size: 35px;
}

.deleteInfoBtn{
    background-color: red;
    color: black;
}


