.postbuttons{
    width: 95%;
   display: flex;
    justify-content: center;
    flex-direction: column;
margin-left: auto;
margin-right: auto;

}
.postbutton{
    width: 100%;
margin-top: 10px;
}

.admin{
    display: flex;
    flex-direction: column;

}

.addbtn,.closeBtn{
    margin-top: 15px;

    height: 70px;
    font-size: 35px;
}

.closeBtn{
    background-color: red;
    color: black;
}


.closeBtn:hover{
    background-color: white;
}
