

.upside{
    display: flex;
    margin-left: 70px;
    margin-top: 50px;
   flex-direction: row;
}

.upside img{
    width: 40%;
    height: 700px;

}

.stats{
position: relative;
display: flex;
margin-left: auto;
margin-right: auto;
justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    text-align: center;
}

.infodiv{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-bottom: 60px;
    margin-top: 60px;
    text-align: center;
}

.stats p,h{
    font-size: 30px;
}
.stats button{


}
.itemdescription{

    margin: 10px;
    font-size: 20px;
    text-align: justify;
}
@media (max-width: 1226px) {
    .upside{
flex-direction: column;
margin-left: 0px;
        align-items: center;
    }


    .upside img{
        height: 30%;
    }
    .stats{
        margin-left: 0px;
        margin-right: 0px;
    }
    .stats p,h{
        font-size: 25px;
    }
    .itemdescription{
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    .infodiv{
        flex-direction: column;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .stats p,h{
        font-size: 20px;
    }
    .itemdescription{
        font-size: 12px;
    }
}