

.upside{
    display: flex;
    margin-left: 30px;
    margin-top: 50px;
   flex-direction: row;
}

.upside img{
    width: 40%;
    height: 700px;
    border: 1px solid black;
flex:0 0 auto;
}

.stats{
position: relative;
display: flex;
margin-left: auto;
margin-right: auto;
justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
}

.infodiv{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 60px;
    margin-top: 60px;
}

.stats p,h{
    font-size: 30px;
}
.stats button{


}
.itemdescription{

    margin-top: 10px;
    font-size: 20px;
}
@media (max-width: 1025px) {
    .upside{
flex-direction: column;

        align-items: center;
    }
    .upside img{
        height: 30%;
    }
}