button{
    color: white;
    background-color: blue;
    font-size: 20px;
   text-align: center;
   border-radius: 15px;
   height: 50px;
}

button:hover{
    background-color: black;
}
.block{

    min-height: calc(100vh - 100px - 100px);
    height: auto;
}

@media(max-width: 425px){
    button{
        height: 40px;
        font-size: 14px;
    }
}